.about-us {
  margin: 20px;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.about-us > p {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5vh;
  border: 2px solid #1abc9c;
  justify-content: center;
  border-radius: 20px;
  padding: 20px;
  width: 50%;
  box-shadow: 1px 1px 10px 0px #1abc9c;
}

.examples {
  padding: 5vh;
  background-color: #ef6f6c;
  color: white;
}

.project {
  margin-top: 20px;
  position: relative;
  width: 40%;
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

.project:hover {
  transform: scale(1.05);
}

.project > a > h2 {
  position: absolute;
  background-color: white;
  top: 20px;
  left: 20px;
  border-radius: 20px;
  padding: 10px;
  border: 2px solid #ef6f6c;
  box-shadow: 1px 1px 10px 0px #ef6f6c;
}

.project > a > p {
  position: absolute;
  background-color: rgb(255, 255, 255);
  color: black;
  margin-inline: auto;
  width: 100%;
  bottom: 5px;
  border-radius: 0 0 20px 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.project-image {
  max-width: 100%;
  border-radius: 20px;
}

.link {
  color: black;
}
